*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: font1-Normal;
    src: url(fonts/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2);
}
@font-face {
    font-family: font2-Bold;
    src: url(fonts/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2);
}
@font-face {
    font-family: font3-semiBold;
    src: url(fonts/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2);
}
@font-face {
    font-family: font4-normal2;
    src: url(fonts/pxiEyp8kv8JHgFVrJJfecg.woff2);
}



.header{
    height: 88px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(10, 10, 10, 0.9);
    z-index: 1;
}
.header-main{
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.header-logo-section img{
    max-width: 120px;
    width: 100%;
    margin-top: 5px;
}
.header-right-section div:nth-child(2){
    display: flex;
    gap: 6px;
    align-items: center;
}
.header-right-section  svg{
    fill: #ffffff;
}
.hamburger{
    border: 1px solid white;
    padding: 6px 13px;
    background-color: black;
    margin-left: 10px;
}
.hamburger svg{
    width: 20px;
}
.product-cart{
    position: relative;
}
.product-cart span{
    position: absolute;
    right: -10px;
    bottom: -6px;
    background-color: white;
    padding: 2px;
    font-size: 8px;
    font-weight: 800;
    border-radius: 3px;
    font-family: font1-Normal;
}
.nav-list{
    display: none;
}
.nav-list ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-list .nav-list-item{
    padding: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.nav-list .nav-list-item svg{
    width: 7px;
}

.nav-list .nav-list-item span{
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: white;
    font-family: font1-Normal;
}

.header-right-section{
    display: flex;
    align-items: center;
    gap: 45px;
}

@media screen and (min-width:959px){
    .hamburger{
        display: none;
    }
    .header{
        height: 60px;
    }
    .nav-list{
        display: block;
    }
}



.side-navigation{
    /* width: 93%; */
    width: 0%;
    background-color: white;
    /* border-right: 2px solid black; */
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    /* display: none; */
    display: flex;
    flex-direction: column;
    gap: 4px;
    box-shadow: 15px 0 5px 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 2;
    transition:all .2s ease-in-out;
}

.open{
    width: 98%;
    /* display: flex; */
    
}



.top-close{
    display: flex;
    justify-content: end;
    padding: 8px 10px;
}
.close-button{
    border: 1px solid black;
    padding: 10px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.close-button svg{
    width: 25px;
}

.side-nav-list{
    padding: 20px 15px;
}
.side-nav-list ul{
    list-style: none;
}
.side-nav-list .side-nav-list-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 17px 15px 4px;
}

.side-nav-list .side-nav-list-items span{
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: black;
    font-family: font3-semiBold;
}
.side-nav-list .side-nav-list-items svg{
    width: 9px;
    fill: black;
}




.page-path-details{
    margin: 30px 0px 20px 0px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.page-path-details div{
    display: flex;
    gap: 10px;
}
.page-path-details div span{
    font-size: 18px;
    font-weight: 400;
    line-height: 12px;
}

.page-path-details div a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    color: rgb(51, 51, 51);
    font-family: font4-Normal2;
}
.page-path-details p{
     font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    color: rgb(51, 51, 51);
    font-family: font4-Normal2;
}
.filter-option-btns{
    padding: 10px 15px;
    display: flex;
    gap: 8px;
}
.filter-option-btns button{
    background-color: white;
    border: 1px solid black;
    color: rgb(54, 54, 54);
    border-radius: 6px;
    padding: 7px 12px;
    font-size: 13px;
    font-family: font4-Normal2;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.filter-option-btns button svg{
    width: 18px;
    height: 18px;
}

.size-btn, .connectivity-btn, .kswitches-btn{
    display: none!important;
}

@media screen and (min-width: 450px) {
    .size-btn, .connectivity-btn, .kswitches-btn{
        display: flex!important;
    }
.filter-option-btns{
    flex-wrap: wrap;
}
}

@media screen and (min-width: 769px) {
    .page-path-details{
        flex-direction: row;
        justify-content: space-between;
    }
}




.product-section{
    padding:15px;
    display: flex;
    max-width: 1170px;
    margin: 0 auto 90px;
}
.product-filter-section{
    display: none;
   
}
.product-filter-open{
    display: block;
    position: fixed;
    top: -30px;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: white;
    z-index: 2;
    padding: 10px 15px;
}


.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 540px;
}

.product-image img{
    width: 100%;
}
.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.product-details h3{
    padding-bottom: 8px;
    font-family: font2-Bold;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    color: rgb(17, 17, 17);
}
.product-details div span{
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    font-family: font1-Normal;
    color: rgb(102, 102, 102);
}

.product-image{
    position: relative;
}

.fav-product-icon{
    background-color: black;
    padding: 6px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 4px;
    position: absolute;
    right: 17px;
    bottom: 10px;
}


@media screen and (min-width: 575px) {
    .product-section-main{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
        column-gap: 30px;
}
}

@media screen and (min-width: 959px){ 
    .product-section-main{
        grid-template-columns: repeat(3, 1fr);
    }
    .product-filter-section{
       display: flex;
    }
}


.footer{
    background-color: rgb(17,17,17);
    padding: 20px 15px 4px;
    width: 100%;
}
.footer-main{
      max-width: 1170px;
      margin: 0 auto;
}
.footer-lists{
    margin-bottom: 18px;
}
.footer-lists ul{
    list-style: none;
}

.footer-lists ul li{
    color: white;
    margin-top: 10px;
    font-family: font4-Normal2;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}



.connect-with-us-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}
.s-media-icons{
    display: flex;
    gap: 20px;
}
.s-media-icons a img{
    width: 23px;
    height: 23px;
}
.connect-with-us-section p{
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    color: white;
    font-family: font3-semiBold;
}

.payment-options-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.payment-options{
    display: flex;
    gap: 6px;
}
.payment-options div{
    background-color: rgb(229, 229, 229);
    padding: 3px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-options div svg{
    width: 30px;
    height: 15px;
}
.payment-options-section div:nth-child(2) {
    color: white;
    font-family: font3-semiBold;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;

}

@media screen and (min-width:959px) {
    .footer-main{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .footer-top-section{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .payment-options-section{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-bottom: 10px;
    }
}


.product-filter-section{
    min-width: 325px;
    margin-top: 30px;
    /* overflow-y: scroll; */
}
.product-filter-section-main{
    width: 100%;
    padding-right: 45px;
}
.filter-section{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
    padding: 15px 0;
}
.product-filter-section-main h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: black;
    font-family: font2-Bold;
    margin-bottom: 16px;
    text-align: left;
}
.filter-options div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.filter-options div span{
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    font-family: font4-Normal2;
}
.filter-options{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.filter-options div input[type="checkbox"]{
    transform: scale(1.2);
    accent-color: black;
    
}
.filter-options div input[type="radio"]{
    transform: scale(1.3);
    accent-color: black;
    
}



.go-back{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 12px 0px 16px;
}

.go-back p{
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    font-family: font4-Normal2;
    color: rgb(118,118,118);
}
.go-back svg{
    /* width: 32px; */
    height: 36px;
}
.filter-section-button h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: black;
    font-family: font2-Bold;
    margin-bottom: 16px;
    text-align: left;
}
/* .product-filter-section-main-button{
    padding: 10px 15px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;

} */
.filter-section-button{
     padding: 10px 15px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
}

.all-filter-open{
    display: block;
}

.price-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.price-content p{
    font-size: 14px;
    font-family: font4-Normal2;
}
.range-slider{
    display: flex;
    position: relative;
    margin: 60px 0 10px 0;
}

.range-bars{
    position: absolute;
    display: flex;
    align-items: flex-end;
    gap: 2px;
    bottom: 0px;
    left: 10px;
}

.range-bars span{
    background-color: black;
    opacity: .5;
    width: 12px;
}
.range-bars span:nth-child(1){
    height: 33px;
}
.range-bars span:nth-child(2){
    height: 23px;
}
.range-bars span:nth-child(3){
    height: 37px;
}
.range-bars span:nth-child(4){
    height: 50px;
}
.range-bars span:nth-child(5){
    height: 13px;
}
.range-bars span:nth-child(6){
    height: 10px;
}
.range-bars span:nth-child(7){
    height: 38px;
}
.range-bars span:nth-child(8){
    height: 9px;
}
.range-bars span:nth-child(9){
    height: 19px;
}
.range-bars span:nth-child(10){
    height: 15px;
}
.range-bars span:nth-child(15){
    height: 5px;
}
.range-bars span:nth-child(16){
    height: 7px;
}
.range-bars span:nth-child(17){
    height: 5px;
}
.range-bars span:nth-child(18){
    height: 15px;
}
.range-bars span:nth-child(19){
    height: 14px;
}

.range-fill{
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 5px;
}

input[type="range"]{
    width: 100%;
    background: none;
    -webkit-appearance: none;
    position: absolute;
    pointer-events: none;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 4px solid  black;
    pointer-events: all;
    margin-top: -8px;
}




@media screen and (min-width:959px) {
    .go-back{
        display: none;
    }
}

